/*** Navbar ***/
nav {
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px rgba(40, 40, 40, 0.75);
  border-left: solid 1px #c8c8c8;
  border-right: solid 1px rgba(40, 40, 40, 0.75);
  padding: 0;
  list-style: none;
  background: rgba(160, 160, 160, 0.75);
  margin-bottom: 20px;
}
nav li {
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: left;
  cursor: pointer;
}
nav li a {
  display: block;
  padding: 8px 25px;
  color: white;
  text-decoration: none;
}
nav li a:hover {
  color: #E3E41F;
  background: rgba(160, 160, 160, 0.5);
}
nav li:hover ul.dropdown {
  display: block;
}
nav li ul.dropdown {
  display: none;
  list-style: none;
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px rgba(40, 40, 40, 0.75);
  border-left: solid 1px #c8c8c8;
  border-right: solid 1px rgba(40, 40, 40, 0.75);
  border-top: none;
  padding: 0;
  min-width: 150px;
  background: rgba(160, 160, 160, 0.75);
  position: absolute;
  top: 23px;
  z-index: 1;
}
nav li ul.dropdown li {
  display: block;
}
/*** Form Controls: Buttons, Checkboxes, Radio Buttons, Text Fields, etc. ***/
button,
input[type=button],
input[type=reset],
input[type=submit],
input[type=color],
::-webkit-file-upload-button {
  color: white;
  background-color: rgba(160, 160, 160, 0.75);
  height: 25px;
  min-width: 75px;
  cursor: pointer;
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px rgba(40, 40, 40, 0.75);
  border-left: solid 1px #c8c8c8;
  border-right: solid 1px rgba(40, 40, 40, 0.75);
  font-weight: lighter;
  text-align: left;
  -webkit-font-smoothing: none;
}
button:active,
input[type=button]:active,
input[type=reset]:active,
input[type=submit]:active,
input[type=color]:active,
::-webkit-file-upload-button:active {
  border-top: solid 1px rgba(40, 40, 40, 0.75);
  border-bottom: solid 1px #c8c8c8;
  border-left: solid 1px rgba(40, 40, 40, 0.75);
  border-right: solid 1px #c8c8c8;
}
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
input[type=color]:focus,
::-webkit-file-upload-button:focus {
  outline: 1px dashed rgba(40, 40, 40, 0.75);
  outline-offset: -4px;
}
button :not(input[type=color]),
input[type=button] :not(input[type=color]),
input[type=reset] :not(input[type=color]),
input[type=submit] :not(input[type=color]),
input[type=color] :not(input[type=color]),
::-webkit-file-upload-button :not(input[type=color]) {
  padding-right: 5%;
}
input[type=checkbox] {
  vertical-align: middle;
  appearance: none;
  width: 15px;
  height: 15px;
  border-top: solid 1px rgba(40, 40, 40, 0.75);
  border-bottom: solid 1px #c8c8c8;
  border-left: solid 1px rgba(40, 40, 40, 0.75);
  border-right: solid 1px #c8c8c8;
}
input[type=checkbox]:focus {
  outline: 1px dotted black;
  outline-offset: -2px;
}
input[type=checkbox]:checked {
  background-image: url("checkmark.png");
}
input[type=radio] {
  vertical-align: text-bottom;
  appearance: none;
  width: 15px;
  height: 15px;
  background-image: url("radio_off.png");
}
input[type=radio]:focus {
  outline: 1px dotted black;
}
input[type=radio]:checked {
  background-image: url("radio_on.png");
}
input[type=text],
input[type=tel],
input[type=search],
input[type=password],
input[type=email],
input[type=url],
input[type=number],
input[type=date],
input[type=datetime-local],
input[type=month],
input[type=week],
input[type=time],
input[list],
select,
textarea {
  border-top: solid 1px rgba(40, 40, 40, 0.75);
  border-bottom: solid 1px #c8c8c8;
  border-left: solid 1px rgba(40, 40, 40, 0.75);
  border-right: solid 1px #c8c8c8;
  color: inherit;
  background: rgba(0, 0, 0, 0.5);
}
input[type=text]:focus,
input[type=tel]:focus,
input[type=search]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=number]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[list]:focus,
select:focus,
textarea:focus {
  outline: 1px dotted black;
  outline-offset: -3px;
}
::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert() brightness(70%);
}
/*** Range Slider ***/
input[type=range] {
  appearance: none;
  min-width: 200px;
  color: #b8c4ad;
  background: none;
  position: relative;
}
input[type=range]::before,
input[type=range]::after {
  display: inline;
  position: absolute;
  font-size: 10px;
  top: 10px;
  font-family: monospace;
}
input[type=range]::before {
  left: 0;
  content: attr(min);
}
input[type=range]::after {
  right: 0;
  content: attr(max);
}
input[type=range]::-webkit-slider-runnable-track {
  background: black;
  height: 4px;
  border-top: solid 1px rgba(40, 40, 40, 0.75);
  border-bottom: solid 1px #c8c8c8;
  border-left: solid 1px rgba(40, 40, 40, 0.75);
  border-right: solid 1px #c8c8c8;
  margin: 6px 0;
}
input[type=range]::-webkit-slider-thumb {
  appearance: none;
  background: rgba(160, 160, 160, 0.75);
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px rgba(40, 40, 40, 0.75);
  border-left: solid 1px #c8c8c8;
  border-right: solid 1px rgba(40, 40, 40, 0.75);
  width: 8px;
  height: 16px;
  position: relative;
  top: -7px;
}
input[type=range]:focus {
  outline: 1px dotted black;
  outline-offset: 2px;
}
input[type=range].ticks {
  background: url("sliderticks.png") repeat-x;
  background-position: bottom left 2px;
  background-size: 19px 5px;
}
input[type=range].ticks::before,
input[type=range].ticks::after {
  top: 16px;
}
/*** Window ***/
.window,
.box {
  position: static;
  background-color: rgba(160, 160, 160, 0.75);
  padding: 10px;
  box-sizing: border-box;
  margin: 0 0 20px;
  max-width: 780px;
}
.titlebar,
.window:not(.headless)::before {
  display: block;
  position: relative;
  margin-bottom: 1em;
  width: 100%;
  height: 18px;
  line-height: 18px;
  text-indent: 24px;
  background-image: url("steamico.png"), url("minimize.png"), url("close.png");
  background-repeat: no-repeat;
  background-position: top left, top right 20px, top right;
}
.window:not(.headless):before {
  content: attr(name);
}
.window:not(.no-resize)::after {
  width: 12px;
  height: 12px;
  display: block;
  margin: 0 0 0 auto;
  position: relative;
  bottom: -7px;
  right: -7px;
  cursor: nwse-resize;
  content: '';
  background-image: url("resize.png");
}
.window.half,
.window-row .window {
  max-width: 380px;
  width: 100%;
  align-self: flex-start;
}
/*** Progress Bar ***/
progress {
  -webkit-appearance: none;
  display: block;
  width: 90%;
  margin: 12px auto;
  margin-top: 18px;
  height: 26px;
  border-top: solid 1px rgba(40, 40, 40, 0.75);
  border-bottom: solid 1px #c8c8c8;
  border-left: solid 1px rgba(40, 40, 40, 0.75);
  border-right: solid 1px #c8c8c8;
}
progress::-webkit-progress-bar {
  background: rgba(0, 0, 0, 0.5);
  padding: 4px;
}
progress::-webkit-progress-value {
  height: 16px;
  background: repeating-linear-gradient(to right, white, white 8px, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.5) 12px);
}
/*** Scrollbar ***/
::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  width: 18px;
  background-color: rgba(160, 160, 160, 0.5);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(160, 160, 160, 0.75);
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px rgba(40, 40, 40, 0.75);
  border-left: solid 1px #c8c8c8;
  border-right: solid 1px rgba(40, 40, 40, 0.75);
}
::-webkit-scrollbar-button {
  width: 18px;
  height: 18px;
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px rgba(40, 40, 40, 0.75);
  border-left: solid 1px #c8c8c8;
  border-right: solid 1px rgba(40, 40, 40, 0.75);
  background: rgba(160, 160, 160, 0.75);
}
::-webkit-scrollbar-button:active {
  border-top: solid 1px rgba(40, 40, 40, 0.75);
  border-bottom: solid 1px #c8c8c8;
  border-left: solid 1px rgba(40, 40, 40, 0.75);
  border-right: solid 1px #c8c8c8;
}
::-webkit-scrollbar-button:vertical:increment {
  background: url("scroll_down.png") no-repeat center, rgba(160, 160, 160, 0.75);
}
::-webkit-scrollbar-button:vertical:decrement {
  background: url("scroll_up.png") no-repeat center, rgba(160, 160, 160, 0.75);
}
::-webkit-scrollbar-button:horizontal:increment {
  background: url("scroll_right.png") no-repeat center, rgba(160, 160, 160, 0.75);
}
::-webkit-scrollbar-button:horizontal:decrement {
  background: url("scroll_left.png") no-repeat center, rgba(160, 160, 160, 0.75);
}
/*** Borders ***/
.border {
  border-top: solid 1px #c8c8c8;
  border-bottom: solid 1px rgba(40, 40, 40, 0.75);
  border-left: solid 1px #c8c8c8;
  border-right: solid 1px rgba(40, 40, 40, 0.75);
}
.border-inverted {
  border-top: solid 1px rgba(40, 40, 40, 0.75);
  border-bottom: solid 1px #c8c8c8;
  border-left: solid 1px rgba(40, 40, 40, 0.75);
  border-right: solid 1px #c8c8c8;
}
.inset {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: solid 1px rgba(40, 40, 40, 0.75);
  border-bottom: solid 1px #c8c8c8;
  border-left: solid 1px rgba(40, 40, 40, 0.75);
  border-right: solid 1px #c8c8c8;
}
.inset code {
  background-color: rgba(160, 160, 160, 0.75);
}
.rounded {
  border: none;
  border-radius: 10px;
}
.inset .rounded {
  background-color: #4a5942;
}
.inset .rounded code {
  background-color: rgba(0, 0, 0, 0.5);
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row,
.flex-column {
  align-items: flex-start;
}
body {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Trebuchet MS", "Verdana", sans-serif;
  color: #d8ded3;
  font-size: 14px;
  image-rendering: pixelated;
  margin: 20px 20px;
}
::selection {
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3px 12px 12px;
}
h1,
h2 {
  color: white;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
p {
  text-align: left;
  margin: 12px 12px 12px;
  color: #d8ded3;
}
fieldset {
  border-top: solid 1px rgba(40, 40, 40, 0.75);
  border-bottom: solid 1px #c8c8c8;
  border-left: solid 1px rgba(40, 40, 40, 0.75);
  border-right: solid 1px #c8c8c8;
}
code {
  background: rgba(0, 0, 0, 0.5);
  padding: 0 3px;
}
hr {
  margin: 20px 0;
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}
img {
  object-fit: contain;
  margin: 2px;
}
main,
.window-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 780px;
  margin: 0 auto;
}
.window-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  max-width: 780px;
}
body {
  background-image: url("hl2_background01.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
p {
  color: white;
}
.window {
  border-radius: 10px;
}
.window:not(.headless):before {
  background-image: none, url("minimize.png"), url("close.png");
  text-transform: lowercase;
  font-variant: small-caps;
  text-indent: 10px;
}
a {
  text-decoration: none;
  color: #aaaaaa;
}
a:hover {
  text-decoration: underline;
}
